.sumaryTable
{
    font-family: "微軟正黑體", "新細明體", arial;
    font-size: 14px;

    width: 100%;

    table-layout: fixed;

    border-width: 0px;
    border-style: solid;
    border-radius: 15px;
    border-collapse: collapse;

    box-shadow: #EEEEEE 5px 5px 10px;
}

.topSide
{
    padding: 10px 0px;

    color: #020280;
    text-align: center;
    
    background-image: url("#{resource['images:th_topSide.png']}");      
    background-color: #cbe7fb;
    background-repeat: repeat-x;
    background-position: 0% 50%;
    border: none;
}

.topLeftSide
{
    border-top-left-radius:15px;
}

.topRightSide
{
    padding: 10px;
    color: #7a0476;
    border-top-right-radius:15px;	    
    background-image: url("#{resource['images:th_topRightSide.png']}");      
    background-color: #ffd7e8;
}



.bottomSide
{
    padding: 10px ;

    color: #7a0476;
    text-align: right;

    background-image: url("#{resource['images:th_topRightSide.png']}");  
    background-color: #ffd7e8;
    background-repeat: repeat-x;
    background-position: 0% 50%;
}

.bottomLeftSide
{
    text-align: center;
    border-bottom-left-radius:15px;	
}

.bottomRightSide
{
    border-bottom-right-radius:15px;	
}

.leftSide
{
	padding: 10px;
	
	color: #020280;
	text-align: center;

        background-image: url("#{resource['images:th_leftSide.png']}");  
	background-color: #cbe7fb;
	background-repeat: no-repeat;
}

.rightSide
{
    padding: 10px;

    color: #7a0476;
    text-align: right;

    background-image: url("#{resource['images:th_rightSide.png']}");  
    background-color: #ffd7e8;
    background-repeat: no-repeat;
}

.rightSideEmpty
{
    background-color: #ffd7e8;
}



.value
{
    padding: 10px;
    text-align: right;
    font-size: 13px;
}

.valueDarkBack
{	
    background-color: #F3F3F3;
}

.valueBorder
{
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;

    border-left: none;
    border-right: none;
}

.emptySpan
{
    padding: 0px;
    width: 8px;
}

.emptyRow
{
    padding: 0px;
    height: 8px;
}

.total
{
    color: red;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: underline;
}

.width20Perc{
    width: 110px !important;
}

.width30Perc{
    width: 1100px !important;
}

.info {
    color: #8F4150;
    font-size:12px;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
}

.infoBig {
    color: #8F4150;
    font-size:18px;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
}

.highlight {
    color: #0022aa; 
    font-size:12px;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;   
}

.highlightHeader {
    color: #EDDD00; 
    font-size:12px;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;   
}

.nowrapSpace {
    white-space: nowrap
}

.ui-datatable-both-scroll .ui-datatable-tablewrapper,.scrolling-div .ui-datatable-tablewrapper{
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

.ui-datatable-hor-scroll .ui-datatable-tablewrapper,.scrolling-div .ui-datatable-tablewrapper{
    overflow-y: hidden;
    /* overflow-x: auto; */
    /* width: 100%; */
    height: 100%;
    padding-bottom: 5px;
}
tr.ui-widget-content td.alert-critical,span.alert-critical {
    background: url("#{resource['images:ball_critical.png']}") no-repeat center left;
    padding-left: 22px;
}
tr.ui-widget-content td.alert-green,span.alert-green {
    background: url("#{resource['images:ball_green.png']}") no-repeat center left;
    padding-left: 22px;
}
tr.ui-widget-content td.alert-yellow,span.alert-yellow {
    background: url("#{resource['images:ball_yellow.png']}") no-repeat center left;
    padding-left: 22px;
}
tr.ui-widget-content td.alert-gray,span.alert-gray {
    background: url("#{resource['images:ball_gray.png']}") no-repeat center left;
    padding-left: 22px;    
}