@charset "UTF-8";

body
{	
    min-width: 1004px;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "微軟正黑體", "新細明體", Microsoft JhengHei, Arial, sans-serif, serif, cursive, fantasy, monospace;
    background: #FFF;
}

.background{
    width: 980px;
    height: 735px;
    margin: 0 auto;
    position: relative;
    background-position: center;
    background-size: contain;
}

.logo{
    width: 48px;
    position: absolute;	
    top: 11px;
    left: 647px;
}
.login{
    max-width: 250px;
    display: inline;
    position: absolute;	
    top: 130px;
    left: 710px;
    z-index: 2;
}

.login .tagBar{    
    max-width: 250px;
    text-align: left !important;
}

.login .tagBar .tag{
    padding: 5px 15px 1px;    
    display: inline-block;
    vertical-align: bottom;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.07);
    font-family: arial;
    font-size: 12px;
    color: #c0c0c0;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.1);
    transform-origin: bottom;
    transition: transform 0.3s;
}

.login .tagBar .tag:hover{
    color: #505050;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scaleY(1.15);
}

.login .tagBar .tagFocus{
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    color: #808080;
}

.login .tab{
    padding: 10px 15px;
    display: none;
    border-radius: 2px;
    border-top-left-radius: 0;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.login .tcc{
    display: block;
}

.login .tcc .title{
    margin: 0 0 10px 0;
    display: inline;
    font-size: 18px;
    color: #d00000;
}

.login .tcc .user{
    width: 140px;
    float: left;
    margin: 10px 10px 0 0;
}

.login .tcc .user .icon{
    width: 15px;
    height: 15px;
    margin: 0 3px -3px 0;
    display: inline-block;    
}

.login .tcc #username{
    width: 120px;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #505050;
}

.login .left #password
{
    width: 120px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 16px;
}
.login .tcc .user .space{
    height: 5px;
}

.login .tcc .btn-submit{
    width: 55px;
    height: 48px;
    margin: 3px 0px 0px -5px;
    padding: 5px 0px 0px 0px;
    display: inline-block;
    border: solid 1px #909090;
    border-radius: 5px;
    box-shadow:  1px  2px 2px #FFFFFF inset,
        -1px -1px 3px #666666 inset;
    font-size: 12px;
    font-weight: bold;
    color: rgb(200, 0, 0);
    background: white;
}

.login .tcc .loginBtn:active{
    box-shadow:  1px  2px 2px #c0c0c0 inset, -1px -1px 2px #FFFFFF inset;
    cursor: pointer;
}

.login .ccil{
    width: 218px;
}

.login .ccil .title{
    margin: 31px 0 32px;
    text-align: center;
    transition: transform 0.5s;
}

.login .ccil .title:hover{
    transform: scale(1.11);
}

.login .ccil .title a{
    font-family: arial;
    font-size: 18px;
    color: #2e62a8;
}

.login .ccil .title a .otherLoginBtn{
    width: 35px;
    margin: 0 0 0 5px;
    vertical-align: middle;
}
.login #error
{
    margin-left: 23px;
    color: #C80000;
}   