<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$subject</title>
    <style type="text/css">
    <!--
    body {
      font-size: 14px;
      font-family: "Microsoft JhengHei", PMingLiU, sans-serif;
      line-height: 1.5em;
    }
    p {
      font-size: 14px;
      font-family: "Microsoft JhengHei", PMingLiU, sans-serif;
    }
    .mailbody {
      width:90%;
    }
    .alert {
      color: red;
    }
    .dataTable {
      font-size: 14px;
      font-family: "Microsoft JhengHei", PMingLiU, sans-serif;
      width: 100%;
      border-collapse: collapse;
    }
    .dataTable td {
      font-size: 1em;
      border: 1px solid #a6c9e2;
      padding: 3px 7px 2px 7px;
    }
    .dataTable th {
      font-size: 1.1em;
      border: 1px solid #a6c9e2;
      text-align: left;
      padding: 3px;
      background-color: #dfeffc;
      color: #2e6e9e;
    }
    -->
    </style>
  </head>
  <body>
    <div class="mailbody">
      <p>您好:</p>
      <p>客户(含业务,客户业务)同步结果:</p>
#if ("$syncError" != "")
      <p class="alert">同步失败, transaction will be rollback!, $syncError</p>
#end

      <table id="result1" class="dataTable">
        <tr>
          <th colspan="4">客户主档</th>
        </tr>
        <tr>
          <th>客户代码</th>
          <th>客户名称</th>
          <th>启用</th>
          <th>讯息</th>
        </tr>
#foreach ($vo1 in $syncData.result1)
#if ($vo1.valid)
        <tr>
#else
        <tr class="alert">
#end
          <td>$!vo1.code</td>
          <td>$!vo1.name</td>
          <td>$!vo1.active</td>
          <td>$!vo1.message</td>
        </tr>
#end        
      </table>
<br/>
      <table id="result2" class="dataTable">
        <tr>
          <th colspan="4">业务员主档</th>
        </tr>
        <tr>
          <th>业务员代码</th>
          <th>业务员名称</th>
          <th>启用</th>
          <th>讯息</th>
        </tr>
#foreach ($vo2 in $syncData.result2)
#if ($vo2.valid)
        <tr>
#else
        <tr class="alert">
#end
          <td>$!vo2.code</td>
          <td>$!vo2.name</td>
          <td>$!vo2.active</td>
          <td>$!vo2.message</td>
        </tr>
#end        
      </table>
<br/>
      <table id="result3" class="dataTable">
        <tr>
          <th colspan="3">客户业务员</th>
        </tr>
        <tr>
          <th>客户代码</th>
          <th>业务员代码</th>
          <th>讯息</th>
        </tr>
#foreach ($vo3 in $syncData.result3)
#if ($vo3.valid)
        <tr>
#else
        <tr class="alert">
#end
          <td>$!vo3.customer</td>
          <td>$!vo3.sales</td>
          <td>$!vo3.message</td>
        </tr>
#end        
      </table>
<br/>
      <table id="result4" class="dataTable">
        <tr>
          <th colspan="3">客户销售组织</th>
        </tr>
        <tr>
          <th>客户代码</th>
          <th>销售组织代码</th>
          <th>讯息</th>
        </tr>
#foreach ($vo4 in $syncData.result4)
#if ($vo4.valid)
        <tr>
#else
        <tr class="alert">
#end
          <td>$!vo4.customer</td>
          <td>$!vo4.vkorg</td>
          <td>$!vo4.message</td>
        </tr>
#end        
      </table>
    </div>
  </body>
</html>
