.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
    background: url(../img/cover_login.jpg) center 20% no-repeat;
    background-size: cover;
}


.contentTopSpacing {
    height: 100px;
}


.memberInfo {
    margin: 0 0 30px;
    padding: 30px 60px;
    box-sizing: border-box;    
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.memberInfo .baseInfo {
    padding: 0;
    list-style: none;
}

.memberInfo .baseInfo li {
    width: 100%;
    margin: 0;
    padding: 10px 0 20px;
    box-sizing: border-box;
    float: left;    
}

.memberInfo .baseInfo .w50 {
    width: 50%;
    display: inline-block;
}

.memberInfo .baseInfo li .title {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: #b00;
}

.memberInfo .baseInfo li .title:before {
    content: "• "
}

.memberInfo .baseInfo li .data {
    padding: 0 0 0 12px;
    box-sizing: border-box;
}


/*---------- RWD (start) ----------*/
@media screen and (min-width: 1601px) and (max-width: 1920px) {
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
}    

@media screen and (min-width: 1px) and (max-width: 1200px) {
/*
    .contentTopSpacing {
        height: 0;
    }
    
    .memberInfo {
        margin: 0 0 80px;
        padding: 10px 20px;
    }
    
    .memberInfo .baseInfo .w50 {
        width: 100%;
        display: inline-block;
    }
*/
}
/*---------- RWD (end) ----------*/