<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <style type="text/css">
            <!--
            body {
                font-size: 14px;
                font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", PMingLiU, sans-serif;
                line-height: 1.5em;
            }
            table {
                font-size: 14px;
                border-collapse:collapse;
            }
            table, td, th {
                border:1px solid gray;
            }
            .mailbody {width:800px;}
            .rptTable {
                width: 800px;
            }
            .rptLabel {
                background-color:#DFEFFF;
                text-align: right;
                font-weight:bold;
            }
            .rptValue {
                background-color:#F2F2F2;
                text-align: left;
            }
            .rptNote {
                background-color:#F2F2F2;
                white-space: pre-line;
            }
            .myButton {
                -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
                -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
                box-shadow:inset 0px 1px 0px 0px #97c4fe;
                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
                background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
                background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
                background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
                background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
                background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
                background-color:#3d94f6;
                -moz-border-radius:6px;
                -webkit-border-radius:6px;
                border-radius:6px;
                border:1px solid #337fed;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-family:arial;
                font-size:15px;
                font-weight:bold;
                padding:1px 8px;
                margin: 0px;
                text-decoration:none;
                text-shadow:0px 1px 0px #1570cd;
                letter-spacing:3px;
            }
            .myButton:hover {
                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
                background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
                background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
                background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
                background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
                background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
                background-color:#1e62d0;
            }
            .myButton:active {
                position:relative;
                top:1px;
            }
            -->
        </style>
    </head>
  <body>
    <div class="mailbody">
      <p>您好:</p>
      <p>您的$bean.phase已駁回。
      </p>

      <table class="rptTable" width="800" border="0" cellpadding="5" cellspacing="1">
#if ($bean.formType == 'V_C')
        <tr>
          <td class="rptLabel">單號</td>
          <td class="rptValue"><a href="$bean.viewUrl?id=$bean.form.id" class="myButton">$bean.form.id</a> (點選單號檢視此申請單)</td>
        </tr>
        <tr>
          <td class="rptLabel">廠別</td>
          <td class="rptValue">$!bean.factoryName</td>
        </tr>
        <tr>
          <td class="rptLabel">供應商代碼</td>
          <td class="rptValue">$!bean.form.venderCode</td>
        </tr>
        <tr>
          <td class="rptLabel">供應商名稱</td>
          <td class="rptValue">$!bean.form.cname</td>
        </tr>
        <tr>
          <td class="rptLabel">供應商類別</td>
          <td class="rptValue">$!bean.form.cnames</td>
        </tr>
        <tr>
          <td class="rptLabel">駁回原因</td>
          <td class="rptValue">$!bean.terminateReason</td>
        </tr>
#else
#end
#if ($bean.formType == 'M_V')
        <tr>
          <td class="rptLabel">供應商代碼</td>
          <td class="rptValue">$!bean.form.applyVenderCode</td>
        </tr>
        <tr>
          <td class="rptLabel">供應商名稱</td>
          <td class="rptValue">$!bean.form.applyVenderName</td>
        </tr>
        <tr>
          <td class="rptLabel">駁回原因</td>
          <td class="rptValue">$!bean.terminateReason</td>
        </tr>
#else
#end
#if ($bean.formType == 'M_NV')
        <tr>
          <td class="rptLabel">供應商代碼</td>
          <td class="rptValue">$!bean.form.applyVenderCode</td>
        </tr>
        <tr>
          <td class="rptLabel">供應商名稱</td>
          <td class="rptValue">$!bean.form.applyVenderName</td>
        </tr>
        <tr>
          <td class="rptLabel">公司統編</td>
          <td class="rptValue">$!bean.form.idCode</td>
        </tr>
        <tr>
          <td class="rptLabel">駁回原因</td>
          <td class="rptValue">$!bean.terminateReason</td>
        </tr>
#else
#end
#if ($bean.formType == 'M_I')
#else
#end

      </table>
        <br/>
        此信件為系統自動發出信件，請勿直接回覆！<br>
        若您有任何問題請聯絡台訊客服中心，謝謝。<br>
        客服專線：+886-2-2536-6660轉20990、20989、20905<br>
        客服信箱：<a href="mailto:service@tcci.com.tw">service@tcci.com.tw</a><br>
      </p>
    </div>
  </body>
</html>
