<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <persistence-unit name="Model" transaction-type="JTA">
        <jta-data-source>jdbc/ecdemo</jta-data-source>
        <class>com.tcci.fc.entity.org.TcUser</class>
        <class>com.tcci.fc.entity.org.TcGroup</class>
        <class>com.tcci.fc.entity.org.TcUsergroup</class>
        <class>com.tcci.fc.entity.essential.TcDomain</class>
        <class>com.tcci.fc.entity.content.TcApplicationdata</class>
        <class>com.tcci.fc.entity.content.TcFvitem</class>
        <class>com.tcci.fc.entity.content.TcFvvault</class>
        <!-- Ec Entity -->
        <class>com.tcci.ecdemo.entity.EcBanner</class>
        <class>com.tcci.ecdemo.entity.EcBonusRecord</class>
        <class>com.tcci.ecdemo.entity.EcContract</class>
        <class>com.tcci.ecdemo.entity.EcCustomer</class>
        <class>com.tcci.ecdemo.entity.EcDelivery</class>
        <class>com.tcci.ecdemo.entity.EcFormBecustomer</class>
        <class>com.tcci.ecdemo.entity.EcFormQa</class>
        <class>com.tcci.ecdemo.entity.EcMember</class>
        <class>com.tcci.ecdemo.entity.EcOrder</class>
        <class>com.tcci.ecdemo.entity.EcPartner</class>
        <class>com.tcci.ecdemo.entity.EcPartnerComment</class>
        <class>com.tcci.ecdemo.entity.EcPartnerProduct</class>
        <class>com.tcci.ecdemo.entity.EcPlant</class>
        <class>com.tcci.ecdemo.entity.EcProduct</class>
        <class>com.tcci.ecdemo.entity.EcRewardRecord</class>
        <class>com.tcci.ecdemo.entity.EcSales</class>
        <class>com.tcci.ecdemo.entity.EcSalesarea</class>
        <class>com.tcci.ecdemo.entity.EcSalesareaLocation</class>
        <!-- Ec Entity -->
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <!-- JPA logging -->
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="DatawarehousePU" transaction-type="JTA">
        <jta-data-source>jdbc/datawarehouse</jta-data-source>
        <class>com.tcci.ecdemo.entity.datawarehouse.ZorderCn</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <!-- JPA logging -->
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
        </properties>
    </persistence-unit>
</persistence>
