.ie-only {
    display: block
}
.no-ie {
    display: none;
}

.startOverlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(120,167,191); /* Black fallback color */
    background-color: rgba(120,167,191, 0.85); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
}
.overlay-text {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    font-size: 30px;
    color: white;
}
