<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="Model" transaction-type="JTA">
    <jta-data-source>jdbc/ec</jta-data-source>
    <!-- FC -->
    <class>com.tcci.fc.entity.org.TcUser</class>
    <class>com.tcci.fc.entity.org.TcGroup</class>
    <class>com.tcci.fc.entity.org.TcUsergroup</class>
    <class>com.tcci.fc.entity.essential.TcDomain</class>
    <class>com.tcci.fc.entity.content.TcApplicationdata</class>
    <class>com.tcci.fc.entity.content.TcFvitem</class>
    <class>com.tcci.fc.entity.content.TcFvvault</class>
    <!-- common -->
    <class>com.tcci.cm.entity.admin.CmFunction</class>
    <class>com.tcci.cm.entity.admin.CmGroupFunctionR</class>
    <class>com.tcci.cm.entity.admin.CmActivityLog</class>
    <class>com.tcci.cm.entity.admin.CmBulletin</class>

    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
        <property name="eclipselink.cache.shared.default" value="false"/>
        <!-- show sql statement
        <property name="eclipselink.weaving" value="static"/>
        <property name="eclipselink.logging.level.sql" value="FINE"/>
        <property name="eclipselink.logging.level" value="FINE"/>
        <property name="eclipselink.logging.level.cache" value="FINE"/>
        -->
    </properties>
  </persistence-unit>
</persistence>
